<div class="row justify-content-center mt-4 mb-4">
  <h1>Booking Information</h1>
</div>

<%= render 'flight' %>

<div class="row justify-content-center mt-4 mb-4">
  <h2>Passenger Information</h2>
</div>

<table class="table table-sm">
  <tr>
    <th>Passenger No.</th>
    <th>Name</th>
    <th>Email</th>
  </tr>
  <% @booking.passengers.each_with_index do |passenger, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= passenger.name %></td>
      <td><%= passenger.email %></td>
    </tr>
  <% end %>
</table>
